<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.jpquiz.report.command.infrastructure.ProblemReportValidationMapper">

    <select id="countQuestionById" resultType="int">
        SELECT COUNT(*)
        FROM quiz_questions
        WHERE question_id = #{questionId}
    </select>

</mapper>
